.filters {
  flex: none;
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  padding: 25px;
  height: auto;
  position: fixed;
  background: #ffffff;
  margin-top: 25px;
  width: 450px; }
  @media only screen and (max-width: 1024px) {
    .filters {
      width: 250px; } }
  @media only screen and (max-width: 767px) {
    .filters {
      position: static;
      flex: none;
      width: auto;
      margin: 0; } }
  .filters .currency, .filters .price, .filters .rating, .filters .rooms {
    margin-bottom: 20px; }
  .filters .price div.price-input {
    margin-top: 10px;
    display: flex; }
    .filters .price div.price-input .range-error {
      border: 1px solid #C23F38;
      border-bottom: none;
      background: #F06560;
      border-radius: 4px 4px 0 0; }
    @media only screen and (max-width: 1024px) {
      .filters .price div.price-input {
        flex-direction: column; } }
    .filters .price div.price-input input[type=number]::-webkit-inner-spin-button,
    .filters .price div.price-input input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .filters .price div.price-input input[type=number] {
      width: 150px; }
    .filters .price div.price-input label {
      margin: 0 10px; }
      @media only screen and (max-width: 1024px) {
        .filters .price div.price-input label {
          margin-top: 10px; } }
  .filters .rating div.rating-input {
    margin-top: 10px; }
