.property-card {
  display: flex;
  justify-items: flex-start;
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
  padding: 15px;
  background: #ffffff;
  max-width: 750px; }
  @media only screen and (max-width: 1024px) {
    .property-card {
      max-width: 550px; } }
  @media only screen and (max-width: 992px) {
    .property-card {
      max-width: 350px; } }
  @media only screen and (max-width: 1024px) {
    .property-card {
      flex-direction: column; } }
  .property-card .left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px; }
    @media only screen and (max-width: 1024px) {
      .property-card .left-section {
        width: 100%;
        margin: 0; } }
    .property-card .left-section .image {
      width: 200px;
      height: auto;
      object-fit: contain;
      margin: 10px; }
      @media only screen and (max-width: 1024px) {
        .property-card .left-section .image {
          width: 100%; } }
  .property-card .right-section {
    width: 100%; }
    .property-card .right-section .address {
      color: #00004C;
      font-size: 150%; }
      @media only screen and (max-width: 767px) {
        .property-card .right-section .address {
          text-align: center; } }
    .property-card .right-section .description {
      margin: 0 0 15px 0; }
    .property-card .right-section .details {
      display: flex;
      align-items: center;
      text-align: center;
      margin: 0 0 15px 0; }
      .property-card .right-section .details .rooms, .property-card .right-section .details .dates {
        padding: 5px;
        display: flex;
        align-items: center; }
        .property-card .right-section .details .rooms svg, .property-card .right-section .details .dates svg {
          color: #33419E; }
        .property-card .right-section .details .rooms p, .property-card .right-section .details .dates p {
          margin: 0 0 0 5px; }
    .property-card .right-section .purchase {
      display: flex;
      justify-content: flex-end; }
      .property-card .right-section .purchase button {
        min-width: 200px; }
        @media only screen and (max-width: 767px) {
          .property-card .right-section .purchase button {
            width: 100%; } }
