.property-list {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-left: 500px;
  height: 100%; }
  @media only screen and (max-width: 1024px) {
    .property-list {
      margin-left: 300px; } }
  @media only screen and (max-width: 767px) {
    .property-list {
      margin-left: 0;
      flex: none;
      padding: 25px 5px;
      align-items: center; } }
  .property-list .search-results {
    height: 100%;
    background: #ffffff;
    box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.75);
    padding: 35px; }
    .property-list .search-results .list-item {
      margin-top: 10px; }
  .property-list.loading {
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 60vh; }
    @media only screen and (max-width: 767px) {
      .property-list.loading {
        width: 100%; } }
