$pastelBlue: #b2b2d8;
$white: #ffffff;
$hotPink: #F50F57;
$darkBlue: #00004C;
$blue: #33419E;
$darkRed: #C23F38;
$softRed: #F06560;

$tabletBreakpoint: 767px;
$largeTabletBreakpoint: 992px;
$desktopBreakpoint: 1024px;
